*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'rockwell-regular', sans-serif;
    font-size: 17px;
}

.Tabs{
    display: flex;
    justify-content:space-evenly;
    margin-top: 4rem;
}
.font-size{
   
    letter-spacing: 0.8px;
}
